@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* //........top text ........// */

:root {
  /* //....... Color ........// */
  --primary-color: #ff3c78;
  --light-black: rgba(0, 0, 0, 0.89);
  --black: #000;
  --white: #fff;
  --grey: #aaa;
}

/* //........top text ........// */

.top-txt {
  background-color: var(--black);
}

.head {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.945);
  padding: 10px 0;
  font-size: 14px;
}

.head a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
  margin: 0 10px;
}

/* //........ Navbar ........// */

.logo {
  font-size: 1.6rem;
  margin-left: 3rem;
  font-weight: 700;
  color: #111;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
  position: sticky;
  top: 0;
  background: var(--white);
  color: var(--black);
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbar img {
  margin-left: 3rem;
}

.menu-items {
  display: flex;
  margin-right: 3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.navbar-container ul a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  position: relative;
}

.navbar-container ul a:after {
  content: "";
  position: absolute;
  background: #14213d;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navbar-container ul a:hover:after {
  width: 100%;
}

.nav-btns {
  margin-right: 3rem;
}

.navbtn {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  background-color: #222;
  border: 1px solid #222;
  font-size: 0.95rem;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.nav-fbtn {
  transition: 0.3s;
}

.nav-fbtn:hover {
  background-color: #fff;
  border: 1px solid #222;
  color: #111;
}

.nav-sbtn {
  margin-left: 0.5rem;
  transition: 0.1s;
}

.nav-sbtn:hover {
  border: 1px solid rgba(34, 34, 34, 0.84);
  background-color: rgba(34, 34, 34, 0.84);
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    overflow: scroll;
  }
  .navbar .menu-items li {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .menu-items li,
  .navbar img {
    margin: 0;
  }
  .navbar .menu-items li:nth-child(1) {
    margin-top: 1.5rem;
  }
  .navbar-container .logo img {
    position: absolute;
    top: 10px;
    right: 15px;
    margin-top: 8px;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .home_page img {
    display: none;
    background: #fff;
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .navbar-container img {
    display: none;
  }
}

/* //........ Home ........// */

.home_page img {
  height: auto;
  width: 100%;
  background-position: center;
  position: relative;
  background-size: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  transform: scaleX(-1);
}

.home_txt {
  position: absolute;
  top: 37%;
  left: 5%;
}

.home_txt p {
  color: rgba(51, 51, 51, 0.549);
  font-weight: 550;
  margin-top: -1.8rem;
  padding-bottom: 16px;
  letter-spacing: 1.5px;
}

.home_txt h2 {
  font-size: 3.8rem;
  font-weight: 1000;
  line-height: 75px;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  color: var(--light-black);
  font-family: "Inter", sans-serif;
}

.home_txt h2 {
  background: url("https://img.freepik.com/premium-photo/dark-black-jeans-texture-background_44706-1061.jpg");
  background-size: auto 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}

.home_txt .home_label p {
  color: grey;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 40px;
}

.home_txt button {
  /* margin-top: 0.7rem; */
  margin-top: -5rem;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: inherit;
  border-radius: 5px;
  line-height: 1;
  background: none;
  padding: 15px 30px;
  background-color: #222;
  color: #fff;
  outline: 2px solid #222;
  outline-offset: -2px;
  transition: outline-offset 200ms ease;
}

.home_txt button:hover,
.home_txt button:focus {
  outline: 2px solid #222;
  outline-offset: 2px;
}

.home_txt .home_social_icons i {
  background-color: rgb(235, 235, 235);
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
  padding: 0.9rem;
  border-radius: 50rem;
  text-decoration: none;
  color: #222;
  margin-right: 15px;
  font-size: 22px;
  transition: 0.3s;
}

.home_txt .home_social_icons i:hover {
  background-color: #222;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 16px 0px;
  text-shadow: 0px -1.5px 0px rgba(0, 0, 0, 0.415);
  transform: translateY(-10px);
}

.home_txt .home_social_icons .facebook-icon:hover {
  background: #285dcf;
}

.home_txt .home_social_icons .twitter-icon:hover {
  background: #02a0e4;
}

.home_txt .home_social_icons .instagram-icon:hover {
  background: #e82062;
}

.home_txt .home_social_icons .pinterest-icon:hover {
  background-color: rgb(219, 36, 36);
}

.home_txt .home_social_icons .whatsapp-icon:hover {
  background: #25ac3a;
}

/* //........ Collections ........// */
.main-heading {
  text-align: center;
  margin-top: 6rem;
}

.main-heading .subheading {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 0.3rem;
}

.main-heading .secheading {
  font-size: 2.5rem;
  font-weight: 700;
}

.collections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 2.1rem;
}

.content {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0%;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  z-index: 2;
  opacity: 0;

  transition: 0.3s;
}

.content:hover::after {
  opacity: 1;
}

.content img {
  width: 100%;
  border-radius: 10px;
  background-color: #e6ecf1;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;

  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content p {
  font-size: 1.5rem;
  line-height: 35px;
  padding-bottom: 0.5rem;
}

.img-content button {
  padding: 0.6rem 1rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  text-decoration: none;
  background-color: #3772ff;
  border: 1px solid #3772ff;
  font-size: 0.95rem;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.3s;
}

.img-content button:hover,
.img-content button:focus {
  background: #eee;
  border: 1px solid #000;
  color: #000;
}

.content:hover .img-content {
  opacity: 1;
  top: 50%;
}

/* //........ Content 2 ........// */

.content2 {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content2::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0%;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  z-index: 2;
  opacity: 0;

  transition: 0.3s;
}

.content2:hover::after {
  opacity: 1;
}

.content2 img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-content2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content2 p {
  font-size: 1.6rem;
}

.img-content2 a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
}

.img-content button {
  padding: 0.6rem 1rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  text-decoration: none;
  background-color: #3772ff;
  border: 1px solid #3772ff;
  font-size: 0.95rem;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.3s;
}

.img-content button:hover,
.img-content button:focus {
  background: #eee;
  border: 1px solid #000;
  color: #000;
}

.content2:hover .img-content2 {
  opacity: 1;
  top: 50%;
}

/* //........ Content 3 ........// */

.content3 {
  width: 330px;
  margin: 20px;
  position: relative;
}

.content3::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0%;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  z-index: 2;
  opacity: 0;

  transition: 0.3s;
}

.content3:hover::after {
  opacity: 1;
}

.content3 img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-content3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content3 p {
  font-size: 1.6rem;
}

.img-content3 a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  transition: 0.3s;
}

.img-content button {
  padding: 0.6rem 1rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  text-decoration: none;
  background-color: #3772ff;
  border: 1px solid #3772ff;
  font-size: 0.95rem;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.3s;
}

.img-content button:hover,
.img-content button:focus {
  background: #eee;
  border: 1px solid #000;
  color: #000;
}

.content3:hover .img-content3 {
  opacity: 1;
  top: 50%;
}

.content3:hover .img-content3 {
  opacity: 1;
  top: 50%;
}

/* //........ seller  ........// */
.selheading {
  margin-bottom: 3.8rem;
  margin-top: 6rem;
}

.secheading {
  font-size: 2.5rem;
}

.topcolheading,
.newheading {
  margin-top: 7.4rem;
  margin-bottom: 3.8rem;
}

.seller {
  margin-bottom: 8.5rem;
}

.best-seller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 6rem;
}

.best-seller .red {
  color: var(--primary-color);
  cursor: pointer;
}

.best-seller .fred {
  color: #ff0026;
}

.best-seller .best-p1 .sgreen {
  color: #ac7e57;
}

.best-seller .best-p1 .tblue {
  color: #323d79;
}

.best-seller .best-p1 .fblack {
  color: #141414;
}

.best-seller .best-p1 .jbro {
  color: #b4997f;
}

.best-seller .best-p1 .sbrown {
  color: #5a3124;
}

.best-seller .best-p1 .sevenglass {
  color: #894d3c;
}

.best-seller .best-p1 .eightshoe {
  color: #cfa88d;
}

.best-seller .best-p1 .nineblack {
  color: #1e2325;
}

.gora {
  color: #feb100;
}

.best-seller .blue {
  color: #8989ce;
  cursor: pointer;
}

.best-seller .white {
  color: var(--light-black);
  cursor: pointer;
}

.best-seller .grey {
  color: grey;
  cursor: pointer;
}

.best-seller .brown {
  color: rgb(175, 53, 53);
  cursor: pointer;
}

.best-seller .yellow {
  color: #ffff00;
  cursor: pointer;
}

.best-seller .orange {
  color: #ffa500;
  cursor: pointer;
}

.best-seller .green {
  color: #008000;
  cursor: pointer;
}

.seller h2 {
  margin-top: 65px;
  margin-bottom: 20px;
}

.seller .best-p1 {
  width: 240px;
  height: 380px;
  transition: 0.2s;
}

.seller .best-p1:hover {
  transform: scale(1.1);
}

.seller .best-p1 img {
  background-color: #e6ecf1;
}

.card-name {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.seller .best-seller .best-p1 .rating {
  margin: 0.2rem 0;
}

.seller .best-p1 img {
  height: 250px;
  width: 250px;
}

.seller .best-p1 .price {
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
}

.seller .best-p1 .price .colors input[type="radio"] {
  color: #000;
  background-color: #000;
}

.best-seller .buy-now a {
  text-decoration: none;
  color: var(--white);
}

.seller a:hover {
  color: #f05e8a;
}

.best-seller .buy-now button,
.best-seller .add-cart button {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #14213d;
  color: var(--white);
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid #14213d;
  transition: 0.2s;
}

.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
  background-color: #004687;
  border: 1px solid #004687;
  font-weight: 500;
  color: #fff;
}

/* //........ deal of week ........// */

.deal_of_week {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal_of_week .names_of_brand p,
.deal_of_week .names_of_brand h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.deal_of_week .names_of_brand p {
  color: var(--grey);
}

.deal_of_week .countdown span {
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0.8rem 0 0 3rem;
}

.deal_of_week .countdown h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--light-black);
  line-height: 40px;
  margin: 0.8rem 0 0 3rem;
}

.deal_of_week .countdown p {
  margin: 0.8rem 0 0 3rem;
}

.deal_of_week .countdown a {
  text-decoration: none;
  color: var(--white);
  font-weight: 800;
}

.deal_of_week .countdown button {
  margin: 0.8rem 3rem;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  padding: 12px;
  transition: 0.4s;
}

.deal_of_week .countdown button:hover {
  background: var(--white);
  color: var(--primary-color);
}

.deal_of_week .countdown button:hover ~ .countdown a {
  background: var(--white);
  color: var(--primary-color);
}

.countdown a:hover {
  color: var(--primary-color);
}

/* //........ NEWS ........// */
.blogheading {
  margin-bottom: 1.7rem;
}

#news {
  margin-bottom: 300px;
}

.newsdata {
  border: 2px solid #000;
}

.news-heading p {
  text-align: center;
  font-size: 18px;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 70px;
}

.news-heading h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: var(--light-black);
}

.l-news {
  padding-top: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.l-news img {
  height: 200px;
  width: 300px;
}

.l-news1 {
  position: relative;
  width: 280px;
  height: 230px;
}

.l-news1 .news1-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: #f8f9fa;
  padding: 25px;
}

.l-news2 {
  position: relative;
  width: 280px;
  height: 230px;
}

.l-news2 .news2-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: #f8f9fa;
  padding: 25px;
}

.l-news3 {
  position: relative;
  width: 280px;
  height: 230px;
}

.l-news3 .news3-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: #f8f9fa;
  padding: 25px;
}

.l-news1 .news1-conte .date-news1 p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}

.l-news1 .news1-conte .date-news1 h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}

.l-news1 .news1-conte .date-news1 a {
  text-decoration: none;
  text-align: center;
  padding: 0 50px;
  color: #023e8a;
  position: relative;
  font-weight: 600;
}

.l-news1 .news1-conte .date-news1 a::after {
  content: "";
  position: absolute;
  background: #023e8a;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.l-news1 .news1-conte .date-news1 a:hover:after {
  width: 0%;
}

.l-news1 .news1-conte .date-news1 a:hover {
  color: var(--black);
}

.l-news2 .news2-conte .date-news2 p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}

.l-news2 .news2-conte .date-news2 h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}

.l-news2 .news2-conte .date-news2 a {
  text-decoration: none;
  text-align: center;
  padding: 0 60px;
  color: #023e8a;
  position: relative;
  font-weight: 600;
}

.l-news2 .news2-conte .date-news2 a::after {
  content: "";
  position: absolute;
  background: #023e8a;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.l-news2 .news2-conte .date-news2 a:hover:after {
  width: 0%;
}

.l-news2 .news2-conte .date-news2 a:hover {
  color: var(--black);
}

.l-news3 .news3-conte .date-news3 p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}

.l-news3 .news3-conte .date-news3 h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}

.l-news3 .news3-conte .date-news3 a {
  text-decoration: none;
  text-align: center;
  padding: 0 60px;
  color: #023e8a;
  position: relative;
  font-weight: 600;
}

.l-news3 .news3-conte .date-news3 a::after {
  content: "";
  position: absolute;
  background: #023e8a;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.l-news3 .news3-conte .date-news3 a:hover:after {
  width: 0%;
}

.l-news3 .news3-conte .date-news3 a:hover {
  color: var(--black);
}

/* //........ Footer ...... // */

footer {
  width: 100%;
  background: #000814;
  padding-left: -2rem;
}

.flogo {
  font-size: 1.8rem;
  margin-left: 3rem;
  margin-top: -1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 65px 0px;
  padding-right: 5rem;
  align-items: center;
}

.footer-container h4 {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-size: 18px;
}

.content_4 h4 {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

.footer-container a {
  display: block;
  text-decoration: none;
  color: var(--grey);
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
  color: var(--grey);
  margin: 18px 0;
  font-size: 14px;
}

.footer-container .content_4 input[type="email"] {
  background-color: #000814;
  border: none;
  color: var(--white);
  outline: none;
  padding: 12px 0;
}

.footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter {
  margin-top: 1rem;
}

.newsletter h4 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.footer-container .content_4 .bx {
  color: var(--white);
}

.f-design {
  width: 100%;
  color: var(--white);
  text-align: center;
}

.f-design .f-design-txt {
  border-top: 1px solid var(--grey);
  padding: 25px 0;
  font-size: 14px;
  color: var(--grey);
}

/* //........ contact ...... // */

.contact {
  margin-top: 45px;
  margin-bottom: 2rem;
}

iframe {
  height: 72vh;
  width: 100%;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.form .form-txt {
  flex-basis: 48%;
}

.form .form-txt h4 {
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 1.5px;
  font-size: 15px;
  margin-bottom: 15px;
}

.form .form-txt h1 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--black);
  font-size: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: var(--light-black);
}

.form .form-txt span {
  color: var(--light-black);
  font-size: 14px;
}

.form .form-txt h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
  color: var(--light-black);
}

.form .form-txt p {
  color: var(--light-black);
  font-size: 14px;
}

.form .form-details {
  flex-basis: 48%;
}

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
  padding: 15px 20px;
  color: #adb5bd;
  outline: none;
  border: 1px solid #adb5bd;
  margin: 35px 15px;
  font-size: 14px;
  outline: 0.5px solid #000;
  outline-offset: -1.5px;
  transition: outline-offset 200ms ease;
}

.form .form-details input[type="text"]:focus,
.form .form-details input[type="email"]:focus {
  border: 1px solid #111;
  outline: 2px solid #334;
  outline-offset: 3px;
}

.form .form-details textarea {
  padding: 15px 20px;
  margin: 0 15px;
  color: #adb5bd;
  outline: none;
  /* border: 1px solid #adb5bd; */
  font-size: 14px;
  resize: none;
  outline: 0.5px solid #000;
  outline-offset: -1.5px;
  transition: outline-offset 200ms ease;
}

.form .form-details textarea:focus {
  outline: 2px solid #221;
  outline-offset: 3px;
}

.form .form-details button {
  padding: 15px 25px;
  font-weight: 500;
  outline: none;
  border: none;
  margin: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #000814;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: -2px;
  transition: outline-offset 200ms ease;
}

.form .form-details button:hover,
.form .form-details button:focus {
  outline: 2px solid #111;
  outline-offset: 2px;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

.respara {
  display: none;
}

/* //....... Media Queries .......// */

@media (max-width: 500px) {
  .navbar {
    padding: -5px 0;
  }
  .nav-btns {
    display: none;
  }
  .logocon {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .hamburger-lines {
    height: 20px;
    margin-top: -1rem;
    width: 30px;
    font-size: 0.9rem;
    left: 20px;
  }

  .main-heading .subheading {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.3rem;
  }
  .main-heading .secheading {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .top-txt .head p,
  .top-txt .head a {
    font-size: 10px;
  }
  .home_txt h2 {
    line-height: 25px;
    font-size: 1.3rem;
    margin-bottom: 2.4rem;
  }

  .home_label p {
    display: none;
  }

  .respara {
    display: inline-block;
    margin-top: 4rem;
  }
  .home_txt {
    position: absolute;
    top: 37%;
    left: 5%;
    font-size: 8px;
  }
  .home_txt button {
    padding: 7px 7px;
    font-size: 10px;
  }
  .home_txt i {
    display: none;
  }
  .home_txt .home_social_icons {
    display: none;
  }
  .menu-items {
    margin-right: 0;
  }
  .best-seller {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .l-news {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  .l-news .l-news1,
  .l-news .l-news2 {
    margin-bottom: 200px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container .content_1 {
    margin-bottom: 30px;
  }
  .animate-logo .spinner {
    display: none;
  }
  .best-seller img {
    padding-top: 40px;
  }
}
@media (max-width: 450px) {
  .home_txt h2 {
    line-height: 25px;
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }

  .home_label p {
    display: none;
  }

  .respara {
    display: inline-block;
    margin-bottom: -0.5rem;
  }
  .home_txt {
    position: absolute;
    top: 34%;
    left: 5%;
    font-size: 8px;
  }
  .animate-logo .spinner {
    display: none;
  }
}
@media (max-width: 414px) {
  .home_txt h2 {
    line-height: 25px;
    font-size: 1.2rem;
    margin-bottom: 2.4rem;
  }

  .home_label p {
    display: none;
  }

  .respara {
    display: inline-block;
    margin-bottom: -0.5rem;
  }
  .home_txt {
    position: absolute;
    top: 16%;
    left: 5%;
    font-size: 8px;
  }
  .animate-logo .spinner {
    display: none;
  }
}

@media (max-width: 399px) {
  .home_txt h2 {
    line-height: 20px;
    font-size: 1.1rem;
    margin-bottom: 2.4rem;
  }

  .home_label p {
    display: none;
  }

  .respara {
    display: inline-block;
    margin-bottom: -0.5rem;
    font-size: 0.5rem;
  }
  .home_txt {
    position: absolute;
    top: 17%;
    left: 5%;
    font-size: 8px;
  }
  .animate-logo .spinner {
    display: none;
  }
}

@media (max-width: 380px) {
  .home_txt h2 {
    line-height: 20px;
    font-size: 1.1rem;
    margin-bottom: 2.4rem;
  }

  .home_label p {
    display: none;
  }

  .respara {
    display: inline-block;
    margin-bottom: -0.5rem;
    font-size: 0.5rem;
  }
  .home_txt {
    position: absolute;
    top: 22%;
    left: 5%;
    font-size: 8px;
  }
  .animate-logo .spinner {
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .animate-logo .spinner {
    display: none;
  }
  .nav-btns {
    display: none;
  }
  .logocon {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2rem;
  }

  .hamburger-lines {
    margin-top: -1rem;
  }
  .top-txt .head p,
  .top-txt .head a {
    font-size: 10px;
  }
  .home_txt h2 {
    line-height: 30px;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .home_label p {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .home_txt {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 10px;
  }
  .home_txt button {
    padding: 7px 7px;
    font-size: 10px;
  }
  .home_txt i {
    display: none;
  }
  .home_txt .home_social_icons {
    display: none;
  }
  .menu-items {
    margin-right: 0;
  }
  .best-seller {
    display: flex;
    flex-direction: column;
  }
  .l-news {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  .l-news .l-news1,
  .l-news .l-news2 {
    margin-bottom: 200px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container .content_1 {
    margin-bottom: 30px;
  }
  .best-seller img {
    padding-top: 40px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}

/* //....... Media Queries For Contact .......// */

@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form .form-details button {
    margin-left: 0;
  }
  .form .form-details input[type="text"],
  .form .form-details input[type="email"],
  .form .form-details textarea {
    width: 100%;
    margin-left: 0;
  }
  .form .form-details input[type="text"] {
    margin-bottom: 0px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form .form-details button {
    margin-left: 0;
  }
  .form .form-details input[type="text"],
  .form .form-details input[type="email"],
  .form .form-details textarea {
    width: 100%;
    margin-left: 0;
  }
  .form .form-details input[type="text"] {
    margin-bottom: 0px;
  }
}
